.main
{
width:980px;
border:1px solid #ccc;
margin:0 auto;
height:1266px;
}
.header
{
height: 172px;
padding: 17px;
width: 96.5%;
background-color:#00CC99;
}
.header h2
{
color:white;
font-size:44px;
margin-top:20px;
}
.header p{
color: white;
font-size: 37px;
}
.left
{
float:left;
width:70%;
display:inline-block;
}
.middle
{
background-color: #057257;
color: #00cc99;
float: left;
height: 172px;
padding: 19px;
width:94.5%;
}
.m1
{
width:123px;
}
.m1 h3
{
font-size:30px;
padding-top:none;
background-color:#057257;
}
.m1 h3:hover
{
color:white;
text-decoration:underline;
}
.m2 p
{
font-size:20px;
color:white;
}
.middle1
{
background-color: #057257;
color: #00cc99;
float: left;
padding: 19px;
width:94.5%;
}
.m3 h3
{
color: #00cc99;
width:123px;
font-size: 29px;
}
.m3 h3:hover
{
color:white;
text-decoration:underline;
}
.m4
{
color: white;
font-size: 18px;
}
.middle2
{
background-color: #057257;
color: #00cc99;
float: left;
padding: 19px;
width:94.5%;
}
.m5{
color: #00cc99;
width:123px;
font-size: 27px;
}
.m5 h3:hover
{
color:white;
text-decoration:underline;
}
.m6{
color: white;
font-size: 18px;
}
.middle3
{
background-color: #057257;
color: #00cc99;
float: left;
padding: 19px;
width:94.5%;
}
.m7{
color: #00cc99;
width:123px;
font-size: 27px;
}
.m7 h3:hover
{
color:white;
text-decoration:underline;
}
.m8{
color: white;
font-size: 18px;
}
.right
{
display:inline-block;
width:30%;
}
.image{

text-align: center;
width: 100%;
 background-color: black;
}
.image img {
    height: 214px;
    margin-bottom: 23px;
    margin-top: 23px;
    width: 75%
}
.icon {
    background: gray none repeat scroll 0 0;
    height: auto;
    padding: 17px;
}

.r1 {
    margin-bottom: 5px;
}
.r1 > img {
    padding: 0 7px 0 0;
}
.r2 {
    margin-bottom: 5px;
}
.r2 > img {
    padding: 0 7px 0 0;
}
.r3 {
    margin-bottom: 5px;
}
.r3 > img {
    padding: 0 7px 0 0;
}
.r4 {
    margin-bottom: 5px;
}
.r4 > img {
    padding: 0 7px 0 0;
}
.r5{
    margin-bottom: 5px;
}
.r5 > img {
    padding: 0 7px 0 0;
}
.r6{
    margin-bottom: 5px;
}
.r6 > img {
    padding: 0 7px 0 0;
}
.r7 {
    margin-bottom: 5px;
}
.r7> img {
    padding: 0 7px 0 0;
}

.icon1{
 background-color: black;
    display: inline-block;
    height: 568px;
    padding: 0 16px;
    width: 89%;
}
.i1
{
font-size:27px;
color: #00cc99;
}
.i1 h3:hover
{
color:white;
text-decoration:underline;
}
.i2{
font-size:20px;
color:white;
}
.i3{
width: 260px;
height:23px;
background-color:gray;
overflow:hidden;
}
.ss{
position:relative;
z-index:999;
width:75%;
background:#16ba98;
height:23px;
padding:0px 8px;
}

.i4{
font-size:20px;
color:white;
}
.i5{
height:30px;
width: 260px;
background-color:gray;
height:23px;

}
.ss1{
position:relative;
z-index:999;
width:75%;
background:#16ba98;
height:23px;
padding:0px 8px;
}
.i6{
font-size:20px;
color:white;
}
.i7{
height:30px;
width: 260px;
background-color:gray;
height:23px;
}
.ss2{
position:relative;
z-index:999;
width:56%;
background:#16ba98;
height:23px;
padding:0px 8px;
}
.i8{
font-size:20px;
color:white;
}
.i9{
height:23px;
width: 260px;
background-color:gray;
}
.ss3{
position:relative;
z-index:999;
width:57%;
background:#16ba98;
height:23px;
padding:0px 8px;
}
.i9:hover{
position:fixed;
background-color:#00cc99;
top:10px;
z-index:99999;}