.main
{
width: 980px;
border:1px solid #ccc;
margin: 0 auto;
padding: 5px;
height: 980px;
}
.header
{
padding: 5px;
background:#00CC99;
height: 100px;
}
.logo
{
padding: 5px;
float: left;
}
.logo img
{
  height: 91px;
width: 152px;
  }
.nav
{
height: 80px;

}
.nav ul
{
float:left;
 list-style:none;
 margin:0;
 padding:0;
 }
 .nav ul li
 {
 float:left;
 }
 .nav ul li a
 {
 text-decoration:none;
 padding: 27px 113px;
 float: left;
 }
 .nav ul li a:hover ,.nav ul li:hover ul
 {
color:#A5A5A5;
background-color:white;
display:block !important;
 }
.nav ul li ul li :hover
{
	background:#888889;
}
.nav ul li ul
{
position:absolute;
top: 66px;
 width: 106px;
z-index:99999;
}
.nav ul li ul li{
float:none;
margin:5px 0px;
}
.nav ul li ul li a{
display:block;
float:none;
}
.nav1 
{
float:left;
 list-style:none;
 margin:0;
 padding:0;
 width:-1px;
 background-color:#00CC99;
 }
.nav1 ul
{
float:left;
 list-style:none;
 margin:0;
 padding:0;
 }
 .nav1 ul li
 {
 
 float: left;
    padding: 20px 134px;
 }
 .nav1 ul li a
 {
 text-decoration:none;
 float: left;
 }
 .nav1 ul li a:hover 
 {
color:#B3DAD9;
background-color:white;
padding:5px;
width:10px;
}
.icon img{
width: 980px;
height: 400px;}
.message
{
 background-color:#00CC99;
 font-size:18px; 
 height:40px;
 width:100%;
 }
  .social-icon{
float: left;
width: 980px;
}
 .left{
	float: left;
	width: 33%; 
	text-align: center;
	color:#999999;
	height:200px;
	background-color:#FDFDFD;
	
 }
 .left img{
	width: 100px;
 }

 
  .right{
	float: left;
	width: 34%; 
	text-align: center;
	background-color:#BFBFBF;
	height:200px;
	color:#999999;
	
 }
 .right img{
 width:100px;
 }
.new-nav ul{
 list-style:none;
 margin:0;
 padding:5px;
 }
 .new-nav ul li{
 padding: 5px;
 
 }
 .new-nav ul li a{
 text-decoration:none;
 }