.main{
width: 980px;
border:1px solid #ccc;
margin: 0 auto;
padding: 5px;
height: 433px;
}
.header{
padding: 5px;
background: green;
height: 100px;

 } 
 .logo{
 float:left;
  padding: 5px;
  width:50%;
  }
  .logo img{
  height:80px;
  width: 200px;
  }
 .social-icon{
 float: left;
text-align: right;
width: 48%;
padding: 26px 4px;
 }
.nav{
 background-color:red;
 height:80px;
 }
 .nav ul{
 float:left;
 list-style:none;
 margin:0;
 padding:0;
 }
 .nav ul li{
 float:left;
 padding: 30px;
 }
 .nav ul li a{
 text-decoration:none;
 }
 .nav ul li a:hover{
color:green;
background-color:yellow;
padding:20px;
 }
 .left{
 background-color: pink;
 height: 80px;
 width: 33%;
 float: left;
 
 }
 .middle{
 background-color: gray;
 height: 80px;
 width: 33%;
 float: left;
 }
 .right{background-color: blue;
 height: 80px;
 width: 34%;
 float: right;
 }
 .footer .left{
 text-align:center;
 background-color: black;
 clear: both;
 height:80px;
 }
.footer .middle{
 background-color:brown;
 height: 80px;
 width: 33%:
 float: left;
 }
 .footer .right{
 background-color:#987;
 height: 80px;
 width: 33%:
 float: right;
 }
 .newfooter {
 background-color:#354;
 height: 80px;
 width: 80%;
 float: left;
 text-align:center;
 padding:5px;
clear: both;
 }
