main{
width: 980px;
border:1px solid #ccc;
margin: 0 auto;
padding: 5px;
height: 100%;
}
header{
padding: 37px;
background: green;
 }
nav{
 background-color:red;
 height:80px;
 }
 .left{
 background-color: pink;
 height: 80px;
 width: 33%;
 float: left;
 
 }
 .middle{
 background-color: gray;
 height: 80px;
 width: 33%;
 float: left;
 }
 .right{background-color: blue;
 height: 80px;
 width: 34%;
 float: right;
 }
 footer{
 background-color: black;
 clear: both;
 height:80px;
 }
