.main
{
width: 980px;
border:1px solid #ccc;
margin: 0 auto;
padding: 5px;
height: 980px;
}
.header
{
padding: 15px;
background:black;
height: 100px;
}
.nav{
float:left;
width:100%;

}
.nav ul{
list-style:none;
margin:0px;
padding:0px;
position:relative;
}
.nav ul li{
text-align: center;
float:left;
margin:auto;
 width: 236px;}

.nav ul li a{
display: block;
float: left;
padding: 8px 15px;
text-decoration: none;
width: 88%;
}
.nav ul li :hover,.nav ul li:hover ul{
background-color:white;
display:block !important;
}
.nav ul  li ul{
position:absolute;
z-index:99999;
width: 236px;
top:35px;
}
.nav ul li ul li{
float:none;
}
.nav ul li ul li a:hover{
background-color:black;

}
.icon img{
height:400px;
width:980px;
}