.main{
width: 980px;
border:1px solid #ccc;
margin: 0 auto;
padding: 5px;
height: 980px;
}
.header{
padding: 5px;
background: #D8D8D8;
height: 100px;
}
.logo{
padding: 5px;
float: left;
width: 50%;
}
.logo img
{
  height:80px;
  width: 200px;
  }
.nav{
height: 80px;
}
.nav ul{
float:left;
 list-style:none;
 margin:0;
 padding:0;
 }
 .nav ul li{
 float:left;
 }
 .nav ul li a{
 text-decoration:none;
 padding: 10px 15px;
 float: left;
 }
 .nav ul li:hover ,.nav ul li:hover ul
 {
color:#A5A5A5;
background-color:yellow;
display:block !important;

 }
.nav ul li ul li :hover
{
	background:#99CCCC;
}
.nav ul li ul{
width: 110px;
position:absolute;
top:58px;
z-index:99999;
}
.nav ul li ul li{
float:none;
margin:5px 0px;
}
.nav ul li ul li a{
display:block;
float:none;
}
 .icon img {
 height: 350px;
 width: 980px;
text-align: left;
}
.message{
 background-color:#A5A5A5;
 font-size:18px; 
 height:40px;
 width:100%;
 }
 .message marquee{
 padding:4px;
 }

 .ne .social-icon{
float: left;
width: 980px;
}
 .left{
	float: left;
	width: 33%; 
	text-align: center;
	color:#999999;
	height:200px;
	background-color:#FDFDFD;
	
 }
 .left img{
	width: 100px;
 }
 .middle{
	float: left;
	width: 33%; 
	text-align: center;
	color:#999999;
	height:200px;
	background-color:#84CCCC;
	
 }
 .middle img{
 width:100px;
 }
  .right{
	float: left;
	width: 34%; 
	text-align: center;
	background-color:#BFBFBF;
	height:200px;
	color:#999999;
	
 }
 .right img{
 width:100px;
 }w-nav{
    float: left;
width: 100%;
background-color:#F2FFF2;
}
.new-nav ul{
 list-style:none;
 margin:0;
 padding:5px;
 }
 .new-nav ul li{
 padding: 5px;
 
 }
 .new-nav ul li a{
 text-decoration:none;
 }
 .container{
 width:980;
 padding:1px;}
 
 .footer-left{
	float: left;
	width: 33%; 
	height:150px;
	background-color:#999999;
 }
 
 .footer-middle{
	float: left;
	width: 33%; 
	height:150px;
	background-color:#999999;
 }
  .footer-right{
	float: left;
	width: 34%; 
	height:150px;
	background-color:#999999;
 }
 .form label{
	display:inline-block;
	padding:7px;
	width:94px!important;
 }
 .newfooter {
 background-color:#354;
 height: 80px;
 width: 100%;
 text-align:center;
 padding:1px;
  height: 113px;
clear: both;
 }