.main
{
 border: 1px solid #ccc;
    height: 1409px;
    padding: 5px;
    text-align: left;
    width: 100%;
}
.nav{
float:left;
width:100%;
background: url("../images/menu-bg.jpg");
}
.header
{
background-image: url("../images/header.jpg");
height: 195px;
padding: 13px;
width: 100%;
}
.header h1{
 font-size: 59px;
    padding: 18px;
	}
.middle
{
    padding: 3px;
    height: 28px;
}

.nav ul{
list-style:none;
margin:0px;
padding:0px;
}
.nav ul li{
float:left;
}
.nav ul li a{
text-decoration:none;
 padding: 16px 64px;
 display: block;
 color:white;
}
.nav ul li a:hover{
color:#0FD8C6;}

.nav1{
background-color: white;
    height: 509px;
    width: 100%;
	}
.nav1 h2{
font-size:30px  font-size: 33px;
    padding: 19px 11px 0px 11px;
	}
.section1{
	width:70%;
	float:left;
}
.list{
	padding:0px 0px 0px 21px;
}
.list1{
	padding:0px 0px 0px 57px;
}
.list3{
	padding:0px 0px 0px 21px;
}
.list5 h2{
	font-size:30px  font-size: 33px;
    padding: 5px 9px 0;
}
.list6 {
	padding:0px 0px 0px 21px;
}
.list7{
	padding:0px 0px 0px 21px
}
.section2{
	width:30%;
	float:left;
	background-color:#EBEBEB;
}
.section2 h2{
	font-size:30px  font-size: 33px;
    padding: 19px 11px 0px 11px;	
}
.color{
padding:0px 0px 0px 21px;
}
.color1{
padding:0px 0px 0px 21px;
}
.color2{
padding:0px 0px 0px 21px;
}
.color3{
padding:0px 0px 0px 21px;
}
.color4{
padding:0px 0px 0px 21px;
background-color:#D8D7D7;
}
.footer {
background-image:url("../images/footer.jpg");
clear: both;
float: left;
width: 100%;
height: 63px;
}
.footer p{
float:left;
padding: 0 30;
height: 47px;
color: white;}
.footer-nav
{
float:left;
color:white;}

.footer-nav ul{
list-style:none;
margin:0px;
padding:0px;
}
.footer-nav ul li{
float:left;
}
.footer-nav ul li a{
text-decoration:none;
 padding: 21px 40px;
 display: block;
 color:white;
}
.footer-nav ul li a:hover{
color:white;
text-decoration:underline;}
