body{
margin:0px;
}
.outer-table{
padding:10px 20px;
border:1px solid #ccc;
border-spacing: 0px;
}
.header{
background-color:brown;
margin:5px auto;
}
.icon img{float:right;
text-align:right;
}
#nav a{ text-decoration:none;
}
#nav {background-color:blue;
}
#nav a:hover{ color:pink;
background:black;
}