body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #41dbb5;
	display:flex;
	height:170px;
	
}
main{
background-color:white;
margin-bottom:30px;
margin-top:10px;
}
footer{
background-color:#EDC6CC;
display:flex;
height:80px;
}
#wrapper{}
.body1{
width:970px;
margin: 0 auto;
 
}

.header1{
color:white;
font-family:comic sans ms;
font-size:30px;
width:32%;

}
 .header1 p{
margin:0px;
display:inline-block;
margin: 29px 0 0 24px;

}
.header2
{
color:white;
width:42%;
display:inline-block;
}
.header2 ul{
 margin:70px 42px;
}

.header2 ul li{
display: inline-block;
font-size: 18px;
list-style: outside none none;
margin: 60px 38px 0 39px;
}
.header3{
width:25%;
display:inline-block;
float:right;}
.header3 img{
margin: 29px 0 0 238px;
}
.maintop{
display:flex;
}
.left > img {
    margin-top: 22px;
}
.mainbotm {
    height: 612px;
}
.left{
width:480px;
}
.right{
width:480px;
margin-right:130px;
}
.right > img {
    float: right;
}
.right1{
background-color: #D49CB8;
    border-radius: 20px;
    height: 22px;
    margin-top: 117px;
    text-align: center;
}
.rgt{
margin-left:68px;
}
.rgt > img {
    padding: 19px;
}
.upper{
display:flex;
margin-top:45px;
border-style:dotted;
color: grey;
}
.rgt{
margin-top:41px;
}
.rgt1{
background-color: #d49cb8;
height: 26px;
margin-top: 12px;
text-align: center;
}
.lower{
margin-top:10px;
}
.lower h5{
float:right;
}
.lower1{
float:left;
color:grey;
font-size:18px;
border-style:double;
padding:0px 10px;
}
.lower2{
float:right;
color:grey;
font-size:18px;
border-style:double;
padding:0px 10px;
}
.lower p{
padding:10px;
}


.footer1 {
    font-size: 15px;
    margin-left: 11px;

}

.footer2
 {
margin-left: 448px;
margin-top: 23px;
}
.left1
{
display:inline-block;
margin-top:15px;
}
.right2
{
float:right;
border-style: dotted; 
height: 356px;
margin-left: 17px;
width: 545px;
margin-top:15px;
}
.left3 {
    display: flex;
}
.right2 img{
float:right;}
.l1 img{
float: right;
height: 154px;
width: 111px;
	}
.l1 {
    display: flex;
    margin-top: 10px;
    width: 480px;

}
.l2{
border-style:dotted;
color:grey;
padding:10px;}
input {
    height: 25px;
    width: 481px;
}






