.main
{
width:980px;
border:1px solid #ccc;
margin:0 auto;
background-color:#F2F2F2;
}
.header
{
height: 172px;
padding: 18px;
width: 96.5%;
}
.h{
text-align:center;
text-decoration:underline;}
.h1
{
float:left;
width:74%;
}
.h1 h2
{
font-size:24px;
}
.h1 p
{
font-size:17px;
}
.h1 p:hover
{
color:blue;
}
.h2
{
float:right;
width:12%;
}
.h2 img
{
width: 105px;
}
.profile
{
height: 115px;
padding: 18px;
width: 96.5%;
}
.p1
{
text-decoration:underline;
}
.p2
 {
font-size:19px;
}
.middle
{
height: 110px;
padding: 18px;
width: 96.5%;
}
.m1
{
text-decoration:underline;
}
.m1 p
{
font-size:24px;
}
.m2{
font-size:19px;
}
.table
{
height: 168px;
padding: 18px;
width: 96.5%;
}
.t1
{
text-decoration:underline;
}
.t2 table
{
width:100%;
}
.information
{
height: 140px;
padding: 18px;
width: 96.5%;
}
.i1{
text-decoration:underline;
}
.i2{
font-size:19px;}
.Strength{
height: 175px;
padding: 18px;
width: 96.5%;
}
.s1{
font-size:18px;
text-decoration:underline;
}
.footer
{
padding: 18px;
width: 96.5%;
}
.f1{
text-decoration:underline;
}
.f2